certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cryptography==44.0.3
flwr==1.19.0
grpcio==1.73.1
idna==3.10
iterators==0.0.2
joblib==1.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.6
pathspec==0.12.1
protobuf==4.25.8
pycparser==2.22
pycryptodome==3.23.0
Pygments==2.19.2
PyYAML==6.0.2
requests==2.32.4
rich==13.9.4
scikit-learn==1.7.1
scipy==1.15.3
shellingham==1.5.4
threadpoolctl==3.6.0
tomli==2.2.1
tomli_w==1.2.0
typer==0.12.5
typing_extensions==4.14.1
urllib3==2.5.0
